html {
    height: 100%;
    background: radial-gradient(circle, #FFF, #CCC);
    background: -webkit-radial-gradient(circle, #FFF, #CCC);
    background: -moz-radial-gradient(circle, #FFF, #CCC);
    background: -o-radial-gradient(circle, #FFF, #CCC);
}

body{
    text-align: center;
}
.title{
    text-shadow: 0px 2px 2px #000;
}

#status-msg{
    background: #d62828;
    width: 400px;
    height: 200px;
    color: #FFF;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    z-index: 99;
    top: 150px;
    left: 15px;
    display: none;
    line-height: 200px;
}

#your-turn{
    background: #312244;
    width: 400px;
    height: 100px;
    z-index: 99;
    top: 40%;
    left: 15px;
    position: absolute;
    border-radius: 10px;
    display: none;
}
.main-container{
    background: #abc4ff;
    padding: 20px;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border: double 6px;
    position: relative;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
#moves{
    background: #023e8a;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.box{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333;
    border: 2px solid #333;
    cursor: pointer;
    line-height: 100px;
    font-size: 70px;
}

button{
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px;
    background: #023e8a;
    color: #fff;
    border: none;
}
button:hover{
    background: #1d3557;
    color: #fff;
}
#select-opponent{
    background: #312244;
    width: 400px;
    height: 100px;
    z-index: 99;
    top: 40%;
    left: 15px;
    position: absolute;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    display: none;
}
ul{
    list-style: none;
    padding-top: 20px;
    margin-left: -10px;
}
.player{
    background: #48cae4;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
}
